@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}




/* shired style */

.display-flex{
    display: flex;
}
.menu-burger{
  display: none;
}
.btn-primary{
  background-color: #E02C6D;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 24px 10px 24px;
  border: none;
  border-radius: 41px;
}

/* color 01 */
.text-color{
    color: #3A3A3A;
}

/* color 01 */
.text-dark{
    color: #18191F;
}
/* color 01 */
.text-dark-light{
    color: #787885;
}


/* body size */
#body-size{
  max-width: 1110px;
  margin: 0 auto;
}


/* nav sharied styles */

.navbar{
    align-items: center;
    justify-content: space-between;
}

.brand{
    font-size: 1.5rem;
    
}
.nav-item{
    list-style: none;
}
.nav-list{
    text-decoration: none;
    margin-right: 34px;
    justify-content: center;
    
}
.image-icon1{
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-top: 4px;
  
}
.image-icon2{
  width: 26px;
  height: 26px;
}



/* Banner section */
.banner-info{
  margin: 50px auto;
  justify-content: space-between;
  gap: 50px;
}
.banneritem{
  max-width: 582px;
  
}
.banner-info{
  align-items: center;
}
.banner-title{
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 16px;
}
.banner-description{
  margin-bottom: 20px;
}
.arrow{
  margin-left: 6px;
}
.banner-image{
  
  position: relative;
}
.banner-imgbg{
  position: absolute;
}
.banner-imgcm{
  position: relative;
  margin-top: 30px;
}

/* shaired companis */
.companis-section{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 70px;
  margin-bottom: 100px;
  align-items: center;

  
}

/* card sectin */

.card-info-fetures{
  margin-bottom: 100px ;
}
.section-title{
  text-align: center;
  font-size: 1.8rem ;
  font-weight: 600;
  margin-bottom: 50px;


}
.card-title{
  font-size: 1.4rem;
  margin-bottom: 0;
}
.card-price{
  margin: 5px;
}
.cardinfo{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;

}

.card-item{

    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(156, 156, 156, 0.2);
    
}
.rating-image{
  width: 95px;
  height: 24px;
  margin-right: 10px;
}
.rateimg{
  height: 30px;
  display: flex;
  align-items: center;
}





/* responsive style */
@media screen and (max-width:576px) {

  
  .banner-info{
    flex-direction: column-reverse;
  }
  .nav-item, .image-icon1{
    display: none;
  
  }
  .banner-info, .navbar, .companis-section{
    margin: 0 20px;
  }
  .banner-info{
    text-align: center;
  }
  .companis-section{
    grid-template-columns: repeat(4, 1fr);
  }
  .companis-section{
    margin: 30px 34px;
    row-gap: 20px;
  }

}